---
import { SEO } from "astro-seo";
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostComment from '../components/Blog/PostComment.tsx';
import Share from '../components/Blog/Share.tsx';
import FormattedDate from '../components/FormattedDate.jsx';
import NextPost from '../components/Blog/NextPost.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, isWriting, thumb } = Astro.props;

const heroImage = new URL(`/og/${thumb}.png`, Astro.url.origin).toString();

const shareData = {
  title: title,
  text: description,
  url: Astro.url.toString()
};
---

<html lang="en">
	<head>
		<BaseHead title={isWriting ? "この記事は非公開です" : title} description={description} />
		<SEO
      charset="UTF-8"
      openGraph={{
        basic: {
          title: title,
          type: "article",
          image: heroImage,
        },
        image: {
          alt: title,
        },
      }}
    />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				/* margin-bottom: 1em;
				padding: 1em 0; */
				text-align: center;
				/* line-height: 1; */
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 1em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.private-post {
				text-align: center;
			}

			.top-hr {
				margin-bottom: calc(var(--h2-bottom-space) * -1);
			}
		</style>
	</head>

	<body>
		<Header />
			{
			　isWriting 
				? <main><p class="private-post">この記事は非公開です</p></main> 
				: <main>
						<article>
							<div class="hero-image">
								{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
							</div>
							<div class="prose">
								<div class="title">
									<div class="date">
										<FormattedDate date={pubDate} />
										{
											updatedDate && (
												<div class="last-updated-on">
													最終更新日 : <FormattedDate date={updatedDate} />
												</div>
											)
										}
									</div>
									<hr class="top-hr" />
								</div>
								<slot />
								<div>
									<hr />
									<Share info={shareData} client:load />
								</div>
								<div>
									<hr />
									<NextPost slug={thumb} />
								</div>
								<div>
									<hr />
									<p>
										コメント
									</p>
									<PostComment slug={thumb} client:load />
								</div>
							</div>
						</article>
					</main>
			}
		<Footer />
	</body>
</html>
